@import "./movies-page.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ecf0f1 !important;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #111;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b2bec3;
  border-radius: 10px;
}

.btn-custom {
  background-color: #d63031;
  color: #000 !important;
  font-weight: 600;
}

.btn-custom:hover {
  opacity: 0.8;
  color: #fff !important;
}

/* Navbar */

/* Card */
.movies h2 {
  font-weight: 500;
}

movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
