@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ecf0f1 !important;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #111;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b2bec3;
  border-radius: 10px;
}

.btn-custom {
  background-color: #d63031;
  color: #000 !important;
  font-weight: 600;
}

.btn-custom:hover {
  opacity: 0.8;
  color: #fff !important;
}

/* Card */
.movies h2 {
  font-weight: 500;
}

movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

/* Movie Category */
#tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  color: white;
  font-weight: 400;
  padding: 5px;
  margin: 5px;
  border: 1px solid #212529;
  border-radius: 5px;
  cursor: pointer;
}

.tag:hover {
  background-color: #d63031;
  color: #000 !important;
  font-weight: 600;
}

.tag.highlight {
  background-color: #d63031;
  color: #000 !important;
  font-weight: 600;
}
